@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class="form-control" asp-items="@ViewBag.SelectGenre"></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input type="file" asp-for="FileForm" onChange="showImage(this)" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
    
            <div id="imagePreviewWrapper" class="form-group mt-3" style="display: none;">
                <img id="movieImage" alt="Image preview" class="img-thumbnail d-block" style="max-height: 200px;" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        function showImage(input) {
    const wrapper = document.getElementById('imagePreviewWrapper');
    const image = document.getElementById('movieImage');
    const file = input.files[0];

    if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
            image.src = e.target.result;
            wrapper.style.display = 'block';
        };
        reader.readAsDataURL(file);
    } else {
        image.src = '';
        wrapper.style.display = 'none';
    }
}

    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
